@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center px-3">
    <h1 class="mb-3">Bienvenido a CreditApp</h1>
    <p class="lead">
        Sistema para la gestión de solicitudes de crédito, con funcionalidades para crear, editar, eliminar y consultar solicitudes de manera sencilla y eficiente.
    </p>
</div>

 
